<% if current_user.teammates.any? %>
  <div id="teammates">
    <%= link_to "Me", workouts_url %>
    View: <%= form_tag workouts_url, :method => :get, :id => "teammate_selector" do %> <%= select_tag :user_id, options_from_collection_for_select(current_user.teammates, :owner_id, :display_name, params[:user_id]) %> <% end %>
  </div>
<% end %>

<div class="clear"></div>

<div id = "navigation_links">
  <div id="view_link">
    <ul>
      <li id="calendar_link"><%= link_to "Calendar", "#calendar" %></li>
      <li>|</li>
      <li id="list_link"><%= link_to "List", "#list" %></li>    
    </ul>
  </div>
  
  <div id="month_title">
    <%= link_to "< ", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <!-- <%= "#{@user.first_name} #{@user.last_name} - " %>   -->
    <%=h @date.strftime("%B %Y") %>
    <%= link_to " >", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </div>
  
  <div id="new_workout_link">
    <%= link_to "Add New Workout", new_workout_url %>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>

<div id="workout_table">
  <div id="list">
    <%= render :partial => 'workout_list' %>
  </div>
  <div id="calendar">
    <%= render :partial => 'calendar' %>
  </div>
</div>


<ul id="comments_list">
  <% @comments.each do |comment| %>
    <div id="comments">
      <li id="comment_cell">
          <span class="comment_workout"><%= link_to "#{comment.workout.date.strftime("%m/%e")} workout", workout_url(comment.workout) %>:</span><br /> 
          <span class="comment_note"><%= comment.note %></span><br /> 
          <div class="comment_user">-<%= comment.user.first_name %></div>
        </li>
    </div>
  <% end %>
</ul>

