<div id=new_workout_link>
  <%= link_to "Add New Workout", new_workout_url %>
</div>



<div id="workout_table">
  <!-- <%= render :partial => 'workout_list' %> -->

  <div id="calendar">
    <%= calendar_for(@workouts) do |t| %>
      <%= t.head('Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
      <%= t.day do |day, workouts| %>
        <%= day.day %>
        <% workouts.each do |workout| %>
          <p class="name"><%= h(link_to workout.name, workout_url(workout)) %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

  <ul id="comments">
    <% @comments.each do |comment| %>
      <li id="comment_cell">
          <span class="comment_workout"><%= link_to "#{comment.workout.date.strftime("%m/%e")} workout", workout_url(comment.workout) %>:</span><br /> 
          <p class="comment_note"><%= comment.note %></span> 
          <p class="comment_user">-<%= comment.user.first_name %></span>
        </li>
    <% end %>
  </ul>

