<div id="user_show">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <table>
    <tr>
      <td>Email: </td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Address: </td>
      <td>
        <% if @user.address.present? %>
          <%= @user.address %>
        <% else %>
          <em>none</em>
        <% end %>    
      </td>    
    </tr>
    <tr>
      <td>City: </td>
      <td>
        <% if @user.city.present? %>
          <%= @user.city %>
        <% else %>
          <em>none</em>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>State: </td>
      <td>
        <% if @user.state.present? %>
          <%= @user.state %>
        <% else %>
          <em>none</em>
        <% end %>
      </td>
    </tr>
  </table>
  
  <p><%= link_to "Edit My Account or Change My Password", edit_user_url(@user) %></p>
</div>

<div id="teammates">
  <p><strong>Teammates (calendars I can view):</strong></p>
  <% @user.teammates.each do |teammate| %>
    <li><%= teammate.owner.first_name %> <%= teammate.owner.last_name %></li>
  <% end %>
</div>

<div id="viewers">
  <p><strong>People I've granted view access to:</strong></p>
  <% @user.viewers.each do |viewer| %>
    <li><%= viewer.guest.first_name %> <%= viewer.guest.last_name %></li>
  <% end %>
</div>